<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletCrear</servlet-name>
        <servlet-class>ipn.ServletCrear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdate</servlet-name>
        <servlet-class>ipn.ServletUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrar</servlet-name>
        <servlet-class>ipn.ServletBorrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrincipal</servlet-name>
        <servlet-class>ipn.ServletPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLeer</servlet-name>
        <servlet-class>ipn.ServletLeer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCrear</servlet-name>
        <url-pattern>/ServletCrear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdate</servlet-name>
        <url-pattern>/ServletUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrar</servlet-name>
        <url-pattern>/ServletBorrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrincipal</servlet-name>
        <url-pattern>/ServletPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLeer</servlet-name>
        <url-pattern>/ServletLeer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
