/* Selector 1: Selector de elemento */
li {
  padding: 0px 100px 0px 100px;
  font-family: Arial;
  font-size: 11px;
  background-color: blue;
  display: inline;
}

/* Selector 2: Selector de clase */
.aviso {
  padding: 0.5em;
  border: 1px solid #98be10;
  background: #f6feda;
}
.error {
  color: #930;
  font-weight: bold;
}

/* Selector 3: Selector de id */
#destacado { color: red; }

/* Selector 4: Selector de grupo */
  p {
  text-align: center;
  color: rgb(91, 22, 170);
}

/* Selector 5: Selector de combinado */
span {
  background-color: white;
}

div > span {
  background-color: DodgerBlue;
}

/*

Selectores 6 a 10 

*/

/* 

Selectores 11 a 15 

*/

/* Selector 11: Selector de atributo igualación comienza conls */
p[id^="paragraph"] {
  font-size: 25px;
  padding: 10px;
  text-decoration: underline red;
}
/* Selector 12: Selector de atributo igualación finaliza con */
div[id$="-caja"] {
  background: turquoise;
  width: 50px;
  height: 50px;
  margin: 20px;
  float: left;
}
/* Selector 13: Selector de atributo igualación contiene */
img[title~="flower"] {
  width: 100px;
  border: 5px solid yellow;
}
/* Selector 14: Selector de atributo igualación múltiple */
[customatribute] {
  text-align: center;
  font-style: italic;
  font-size: 40px;
}
/*  Selector 15: selector de pseudo clase a:visited */
.url {
  font-size: 30px;
  padding: 10px;
}

a:not(visited) {
  color: red;
}
a:visited {
  color: green;
}

/* Otros estilos */

.collaborators {
  margin: 0 auto;
}

th {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

th:not(:last-of-type) {
  border-right: 1px solid black;
}

.main-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.style-container {
  border: 1px solid black;
  height: 300px;
  margin: 30px 0;
}

.style-container-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}
